.App {
  text-align: center;
}
.red{
  color: red;
}
.green{
  color: green;
  text-decoration-line: line-through;
}
ul{
  list-style-type: none;
  background-color: lightgray;
}
li{
  align-content: center;
  background-color: lightblue;
}
